@import "tailwindcss";

:root {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-accent: #f26db3;
  
  /* Brand Colors */
  --color-telegram-start: #23a0dc;
  --color-telegram-mid: #6acfff;
  --color-telegram-end: #93dcff;
  
  --color-vk-start: #2192c8;
  --color-vk-mid: #4da2ca;
  --color-vk-end: #50b7e9;

  --color-logo-gray: #2e2e2e;
}

@theme {
  --font-sans: var(--font-gilroy), ui-sans-serif, system-ui, sans-serif;
}

.transition-hover {
  transition: var(--transition-hover);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}