@import "tailwindcss";

:root {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-accent: #f26db3;


}

.transition-hover {
  transition: var(--transition-hover);
}

@theme inline {}

@media (prefers-color-scheme: dark) {
  :root {}
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-inter), sans-serif;
}