@import "tailwindcss";

:root {
  --color-background: #ffffff;
  --color-foreground: #000000;
  --color-accent: #f26db3;
  
  /* Brand Colors */
  --color-telegram-start: #23a0dc;
  --color-telegram-mid: #6acfff;
  --color-telegram-end: #93dcff;
  
  --color-vk-start: #2192c8;
  --color-vk-mid: #4da2ca;
  --color-vk-end: #50b7e9;

  --color-logo-gray: #2e2e2e;
  --color-button-yellow: #ffc100;
  --color-button-dark: #171717;
  --color-button-light: #ffffff;
  
  /* Story Border Gradient */
  --gradient-story: radial-gradient(circle at 30% 100%, #ffdd55 0%, #ffdd55 10%, #ff543e 50%, #c837ab 100%);
}

@theme {
  --font-sans: var(--font-gilroy), ui-sans-serif, system-ui, sans-serif;
  --color-warning: var(--color-button-yellow);
}

.gradient-border-story {
  background: var(--gradient-story);
  padding: 3px; /* border thickness */
}

.transition-hover {
  transition: var(--transition-hover);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}